.bgExistentes {
    /*background : rgba(74, 129, 160, 0.5);*/
    background : #e3e6f2;
}

.bgExistentes:hover {
    /*background : rgba(74, 129, 160, 0.75) !important;*/
    background : #BCC3E5 !important;
}

.bgPartidas {
    /*background : rgba(125, 176, 159, 0.5);*/
}

.bgPartidas:hover {
    /*background : rgba(125, 176, 159, 0.75) !important;*/
}

.bgActividades {
    /*background : #896897;*/
    /*background : rgba(196, 131, 75, 0.5);*/
    background : #e3e6f2;
}

.bgTecho {

}

.bgActividades:hover {
    /*background : #896897;*/
    /*background : rgba(196, 131, 75, 0.75) !important;*/
    background : #BCC3E5 !important;
}

.bgActividades2 {
    /*background : rgba(217, 194, 146, 0.5);*/
}

.bgActividades2:hover {
    /*background : rgba(217, 194, 146, 0.75) !important;*/
}

.bgIncremento {
    /*background : #896897;*/
    /*background : rgba(196, 131, 75, 0.5);*/
    background : #e3e6f2;
}

.bgIncremento:hover {
    /*background : #896897;*/
    /*background : rgba(196, 131, 75, 0.75) !important;*/
    background : #BCC3E5 !important;
}
